
  
<div cdkDropListGroup class="ui"> 

    <div cdkDropList 
        cdkDropListSortingDisabled="true" 
        [cdkDropListData]="intersections" 
        [cdkDropListEnterPredicate]="intersectionsPredicate"
        class="side-panel"
        (cdkDropListDropped)="drop($event)">
        <app-tile  *ngFor="let tile  of intersections"  
            cdkDrag 
            [cdkDragData]="tile" 
            [tile]="tile" [color]="'blue'" 
            [cdkDragDisabled]="intersections.length < 4"
            (turnTile)="turnIntersection(tile)"  ></app-tile>
    </div>

    <div class="board">
        <div class="vertical vroad v-upper v-left"></div>
        <div class="vertical vrail v-upper v-middle"></div>
        <div class="vertical vroad v-upper v-right"></div>
        
        <div class="vertical vroad v-lower v-left"></div>
        <div class="vertical vrail v-lower v-middle"></div>
        <div class="vertical vroad v-lower v-right"></div>

        <div class="horizontal hrail h-left h-top"></div>
        <div class="horizontal hroad h-left h-middle"></div>
        <div class="horizontal hrail h-left h-bottom"></div>

        <div class="horizontal hrail h-right h-top"></div>
        <div class="horizontal hroad h-right h-middle"></div>
        <div class="horizontal hrail h-right h-bottom"></div>

        <div class="main-board" >
            <div *ngFor="let tile  of placed" 
                [ngStyle]="{'grid-column': tile.x, 'grid-row': tile.y}">
                <app-tile cdkDrag [tile]="tile" ></app-tile>
            </div>
    
            <div *ngFor="let tile  of freeSpace"
                cdkDropList 
                (cdkDropListDropped)="drop($event)"   
                [cdkDropListData]="tile" 
                [cdkDropListEnterPredicate]="boardPredicate"
                [ngStyle]="{'grid-column': tile[0].x, 'grid-row': tile[0].y}" >
                    <app-tile 
                        [tile]="tile[0]" 
                        cdkDrag 
                        [cdkDragData]="tile[0]" 
                        [cdkDragDisabled]="tile[0].isEmpty" 
                        [color]="'blue'" 
                        (turnTile)="turnBoard(tile[0])"></app-tile>
            </div>
        </div>

    </div>

    <div class="side-panel"
        cdkDropList 
        cdkDropListSortingDisabled="true" 
        [cdkDropListData]="dice"
        [cdkDropListEnterPredicate]="dicePredicate"
        (cdkDropListDropped)="drop($event)">
        <app-tile  *ngFor="let tile  of dice"  cdkDrag [cdkDragData]="tile" [tile]="tile" [color]="'blue'" (turnTile)="turnDice(tile)"  ></app-tile>


        <button (click)="newRound()">FINISH ROUND</button>
    </div>
</div>
