<div class="wrapper" [ngStyle]="{ 'opacity': tile.isEmpty ? '0' : '1'}" [style.--color]="color" >
    <div class="middle" 
    [ngClass]="{
        'vertical': tile.middle,
        'mid-rail': tile.middle == 'hrail' || tile.middle == 'vrail', 
        'vrail': tile.middle == 'hrail' || tile.middle == 'vrail', 
        'mid-road': tile.middle == 'hroad' || tile.middle == 'vroad',
        'vroad': tile.middle == 'hroad' || tile.middle == 'vroad',
        'mid-horizontal': tile.middle == 'hroad' || tile.middle == 'hrail'
    }"></div>
    
    <div *ngIf="tile.rail[0]" class="upper vertical vrail"></div>
    <div *ngIf="tile.rail[1]" class="right horizontal hrail"></div>
    <div *ngIf="tile.rail[2]" class="lower vertical vrail"></div>
    <div *ngIf="tile.rail[3]" class="left horizontal hrail"></div>

    <div *ngIf="tile.road[0]" class="upper vertical vroad"></div>
    <div *ngIf="tile.road[1]" class="right horizontal hroad"></div>
    <div *ngIf="tile.road[2]" class="lower vertical vroad"></div>
    <div *ngIf="tile.road[3]" class="left horizontal hroad"></div>
    <div *ngIf="!tile.isEmpty" class="turn" (click)="turn()">⟳</div>
</div>